


#listpagecontainer {
    PADDING-BOTTOM: 10px;
    MARGIN: 0;
    PADDING-LEFT: 0;
    WIDTH: 100%;
    PADDING-RIGHT: 0;
    PADDING-TOP: 0;
}
#listpagecontent {
    /* POSITION: relative; */
    margin: 0 auto 15px;
    width: 1200px;
}
.productarea {
    margin: 0 auto 10px;
    width: 1200px;
}
.clearfix {
    display: block;
}
#propicarea {
    width: 340px;
    margin-right: 20px;
    float: left;
}
#probigpicarea {
    border: #e2e2e2 1px solid;
    margin: 0 auto;
    width: 338px;
    float: left;
    height: 338px;
    /* overflow: hidden; */
}
.proimage {
    TEXT-ALIGN: center;
}
.image {
    text-align: center;
}
.productarea-right {
    width: 840px;
    font: 12px "\5B8B\4F53";
    float: left;
    color: #333;
    position: relative;
}
.productarea-right-1 {
    PADDING-BOTTOM: 5px;
    WIDTH: 100%;
}
.productarea-right-1 H1 {
    COLOR: #333;
    font: 700 16px/1.5em "\5FAE\8F6F\96C5\9ED1";
}
.productstyle1 {
    font: 400 16px/24px "\5FAE\8F6F\96C5\9ED1";
    color: #c40000;
    height: 24px;
    overflow: hidden;
}
.fr {
    float: right;
}
.ware_pj {
    width: 218px;
    border: 1px solid #e5e5e5;
    background: #fff;
    margin: 10px 0;
}
.ware_pj h5 {
    height: 26px;
    padding-left: 10px;
    font: 400 14px/26px "\5FAE\8F6F\96C5\9ED1";
    border-bottom: 1px dotted #e5e5e5;
}
.ware_pj .rate {
    padding: 10px 0 5px 15px;
}   
.ware_pj .rate em {
    margin-right: 40px;
    line-height: 34px;
    vertical-align: top;
}
.ware_pj .rate strong {
    font: 400 46px/34px "arial";
    color: #c40000;
}
.ware_pj .rate strong span {
    font-size: 24px;
}
.ware_pj .rate strong {
    font: 400 46px/34px "arial";
    color: #c40000;
}

.ware_pj .percent {
    padding-left: 15px;
}
.ware_pj .percent dl {
    overflow: hidden;
    padding: 3px 0;
}
.ware_pj .percent dt {
    float: left;
    width: 70px;
    text-align: left;
}
.ware_pj .percent dt span {
    color: #888;
}
.ware_pj .percent dd {
    background: none repeat scroll 0 0 #EFEFEF;
    float: left;
    height: 8px;
    margin-top: 4px;
    overflow: hidden;
    width: 120px;
}
.ware_pj .percent dd div {
    overflow: hidden;
    height: 10px;
    width: 0;
   
}
.ware_pj .leiji_pj {
    padding: 8px 0 8px 15px;
}
.ware_pj .leiji_pj li.mr10 {
    margin-right: 10px;
}
.ware_pj .leiji_pj .pl {
    color: #06c;
}
.ware_pj .leiji_pj li {
    line-height: 24px;
    float: left;
}
.ware_pj .leiji_pj .xl {
    color: #c40000;
    cursor: default;
    text-decoration: none;
}
.ware_pj .leiji_pj {
    padding: 8px 0 8px 15px;
}
.fl {
    float: left;
}
.new_detail_top {
    padding: 10px 0 0 0;
}
.new_detail_top .bgf7 {
    background: #f7f7f7;
}
.new_detail_top dl {
    font: 400 12px/18px "\5B8B\4F53";
    padding: 6px 0;
}
.new_detail_top dt, .newbuywrap dt {
    float: left;
    width: 72px;
    text-align: right;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
.new_detail_top dd, .newbuywrap dd {
    float: left;
    width: 524px;
}
.new_detail_top dd span {
    color: #c40000;
    display: block;
    margin-bottom: 5px;
}
.new_detail_top dd strong {
    color: #c40000;
    font: 400 18px Arial,Verdana,"\5B8B\4F53";
    
}
.new_detail_top dd strong b {
    font: 700 22px "\5FAE\8F6F\96C5\9ED1";
    display: block;
    margin-top: -5px;
}
.new_detail_top dd .hi-23 {
    clear: both;
}

.new_detail_top dd span em {
    background: #c40000;
    color: #fff;
    padding: 2px 4px;
    margin-right: 4px;
}
.new_detail_top .waporder {
    padding: 0 0 0 72px;
    width: 524px;
    height: 25px;
}
.new_detail_top .waporder .fc40 {
    color: #c40000;
    margin-right: 5px;
}
.new_detail_top .waporder .scan {
    color: #005aa0;
    display: inline-block;
    position: relative;
    z-index: 2;
    height: 25px;
}
.productarea-right .btddd {
    border-top: 1px dotted #ddd;
}
.newbuywrap {
    padding: 10px 0 0 0;
    font: 400 12px/18px Arial,Verdana,"\5B8B\4F53";
}
.buyNumDL .pt5 {
    padding-top: 14px;
}
.buyNumDL dd {
    position: relative;
}
.buyNumDL .count {
    border: 1px solid #c8c7cc;
    color: #333;
    display: block;
    font-family: Tahoma;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
    width: 46px;
}
.buyNumDL a {
    background: url(https://img02.j1.com/images/images1308/ico/jrgwc_00.jpg?1234) 0 0 no-repeat;
    display: block;
    width: 25px;
    height: 24px;
    position: absolute;
    left: 47px;
    top: 0;
}
.buyNumDL .c02 {
    background-position: -26px -25px;
   
}
.buyNumDL .c01 {
    background-position: -26px 0;
    top: 23px;

}
.buyNumDL .c03 {
    left: 90px;
    background-position: -52px 0;
    width: 157px;
    height: 47px;
    overflow: hidden;
}
/* 放大镜 */
.magnify-box {
    width: 338px;
    height: 338px;
    position: relative;
}
.min-img {
    border: solid 1px #ccc;
    width: 338px;
    height: 338px;
    position: relative;
    box-sizing: border-box;
}
.min-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.max-img {
    width: 335px;
    height: 335px;
    overflow: hidden;
    position: absolute;
    left: 340px;
    top: 20px;
    display: none;
}
.max-img img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
.mask {
    width: 100px;
    position: absolute;
    height: 100px;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    display: none;
}