.publiclay {
    width: 1198px;
    margin: 0 auto 30px;
    border: 1px solid #e6e6e6;
    background: #fff;
}

.publiclay h4 {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 20px;
    font: 400 14px/34px "\5FAE\8F6F\96C5\9ED1";
}
.hotmend {
    overflow: hidden;
    position: relative;
    height: 219px;
    overflow: hidden;
}

.hotmend .hd .next {
    display: block;
    width: 29px;
    height: 219px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    background: #f2f2f2;
}
.hotmend .hd em {
    background: url(https://img.j1.com/images/images1308/ico/slidelf.png?1234) 0 0 no-repeat;
    display: block;
    width: 11px;
    height: 17px;
    overflow: hidden;
}
.hotmend .hd .jtright {
    background-position: -13px -200px;
    margin: 100px 0 0 10px;
}
.hotmend .hd .prev{
    display: block;
    width: 29px;
    height: 219px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    cursor: pointer;
    background: #f2f2f2;
}
.hotmend .hd .jtleft {
    background-position: 0 -200px;
    margin: 100px 0 0 8px;
}
.hotmend .bd {
    /* width: 1140px; */
    margin: 0 auto;
    padding-top: 20px;
}
.hotmend .picList .hotmain {
    float: left;
    width: 208px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.hotmend .picList .m0{
    
    margin-right: 0;
    
}
.hotmend .picList .pic {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 14px;
}
.hotj .hotmend img {
    width: 80px;
    height: 80px;
}
.hotmend .picList .hotmain .text-01 {
    line-height: 18px;
    height: 36px;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}
.hotmain a:hover{
    color: red;
    text-decoration: underline;
}

